<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sotugyouseisaku.app.repository.cart.CartDeleteMapper">

    <!-- 指定されたカートIDのレコードを削除 -->
    <delete id="deleteCartItems" parameterType="java.util.List">
        DELETE FROM online_shop.cart
        WHERE id IN
        <foreach collection="cartRecords" item="item" open="(" separator="," close=")">
            #{item.cartId}
        </foreach>
    </delete>

</mapper>

