<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sotugyouseisaku.app.repository.view.CartViewMapper">

    <!-- cart_view から全件取得 -->
    <select id="selectAllCartView"
            resultType="com.sotugyouseisaku.app.Record.CartViewRecord">
        SELECT
            cart_id,
            product_id,
            quantity,
            product_name,
            price,
            jyoutai,
            maker,
            category,
            image_url
        FROM
            online_shop.cart_view
        ORDER BY cart_id DESC
    </select>

</mapper>
