<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sotugyouseisaku.app.repository.cart.CartMapper">

    <!-- カートに追加 -->
    <insert id="insertCartItem">
        INSERT INTO online_shop.cart (product_id, quantity, added_at)
        VALUES (#{productId}, #{quantity}, CURRENT_TIMESTAMP)
        ON CONFLICT (product_id) 
        DO UPDATE SET quantity = online_shop.cart.quantity + EXCLUDED.quantity,
                    added_at = CURRENT_TIMESTAMP
    </insert>

</mapper>
