<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sotugyouseisaku.app.repository.product.ProductMapper">

    <select id="selectAllProducts" resultType="com.sotugyouseisaku.app.Record.ProductRecord">
        SELECT
            id,
            name,
            description,
            price,
            stock,
            created_at
        FROM
            online_shop.products;
    </select>

</mapper>
