<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>商品一覧</title>
</head>
<body>
  <h1>商品一覧</h1>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>商品説明</th>
        <th>価格</th>
        <th>在庫数</th>
        <th>カテゴリ</th>
      </tr>
    </thead>
    <tbody>
      <!-- DTOの中のリストをループする -->
      <tr th:each="product : ${productViewResultListDTO.productViewList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.category}"></td> 

      </tr>
    </tbody>
  </table>
</body>
</html>
